.btn {
  min-width: 176px;
  min-height: 52px;
  border-radius: 5px;

  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  align-items: center;
  text-align: center;
  background: #ffffff;
}

.btn-primary {
  background: #1390e5;

  /* Crystal white */

  color: #ffffff;

  border: none;
}

.btn-primary:hover {
  background-color: blue;
}

.btn-primary:active {
  background-color: black;
}

.btn-outline {
  border: 1px solid #1390e5;
  color: #1390e5;
}

.btn-outline:hover {
  background: #c5e4f9;
}
