.videoCard {
  width: 245px;

  .videoCard__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px;
  }

  .videoCard__channelBlock {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */

    /* Gray */
    color: rgba(23, 23, 25, 0.3);
  }
}
